{% extends 'accounts/main1.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>HomePage</title>
</head>

<body
    style="background-image:url(https://c0.wallpaperflare.com/preview/831/655/686/black-blurred-background-close-up-control.jpg) ;">


    <div class="container">
        <h1>Welcome to Janajagriti Games</h1>
        <p>
        <h3>Mission</h3>

        <h4>Our Mission is to educate children about nutrition, yoga, and holistic well-being through games and stories
        </h4>



        We aims to bring awareness to holistic well-being. We mainly focus on educating school children between the ages
        of 7-10 on physical, mental and environmental health using games. We also conduct workshops on nutrition

        and yoga for holistic health, Our initiative has positively impacted over 1000 children in a span of 2 years 91%
        of the students gained the right nutritious knowledge

        87% of the students learnt more than 2 food items/nutrients
        <br>
        We are aiming to convert our teaching model to a gamified tech-based platform so that it would help in creating
        more impact

        on students, as well as make the sessions more interesting and engaging. our goal is to motivate more students
        to

        take part in these sessions and gather learnings which would have a long lasting impact.
        <br>
        <h4>So We have come up with multiplayer games to educate children on topics like nutrition, yoga, and other
            health related issues should have a list of game-based learning modules, from which an instructor would pick
            one to brief the children on. After this, students can play the games on multiplayer mode. Each game has a
            maximum duration of 20-25 minutes.</h4>

        </p>
    </div>
</body>

</html>
{% endblock %}