{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            {% for i in messages %}
            <p id="message">{{i}}</p>
            {% endfor %}
            <p>Not registered yet<a href="{% url 'register' %}">Sign up</a></p>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>